<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.currentaddress">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Hotel Booking App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PinGeneration"></activity>
        <activity android:name=".RegistrationPage2" />
        <activity android:name=".HotelSelection" />
        <activity android:name=".models.Customer" />
        <activity android:name=".RegisteredUserdetails" />
        <activity android:name=".RegistrationPage1" />
        <activity android:name=".BookingConfirmation" />
        <activity android:name=".room_types.RoomAvailability" />
        <activity android:name=".Booking" />
        <activity android:name=".LocationActivity" />
        <service android:name=".FetchAddressIntentServices"/>
        <activity android:name=".room_types.SingleBedroom" />
        <activity android:name=".room_types.TripleBedroom" />
        <activity android:name=".room_types.DoubleBedroom" />
        <activity android:name=".room_types.FourBedroom" />
        <activity
            android:name=".Facilities"
            android:label="@string/title_activity_facilities"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RatesOfRooms"
            android:label="@string/title_activity_rates_of_rooms"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>